
.page.reports-admin{
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: auto;
  .menu{
    padding: 0 !important;
  }
}
.menu.reports {
  display: flex;
  flex-direction: row;
}

.menu-admin-reports{
  width: 30%;
  min-height: 80vh;
  border: 1px solid #dedede;
}

.page.reports-admin{
  .charts{
    width: 100%;
    border: 1px solid #dedede;
    display: flex;
    gap: 64px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
  }
  .spin{
    height: 80vh;
  }
}

.metric-tab {
  color: #656565;
}