
.page.reports-admin{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

.menu-admin-reports{
  width: 30%;
  border: 1px solid #dedede;
  height: 80vh;
}

.page.reports-admin{
  .charts{
    width: 100%;
    border: 1px solid #dedede;
    height: 80vh;
    overflow: scroll;
    overflow-y: scroll;
  }
  .spin{
    height: 80vh;
  }
}