.ant-carousel .slick-slide {
    text-align: center;
    display: flex;
    background-position: center;
    height: 260px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;

  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  
  .imageCarrousel {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .carousel  .slider-wrapper  .slider {
    height: 350px;
    width: 100%;
    padding-top: 30px;
  }
  .slide  div {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    
   
  }
  .caption {
    padding: 0 20px !important;
    line-height: 2.5vw;
    font-size: 3vw;      
    width: 100%;
    color: white;
    width: 100%;
    font-weight: 400;
    position: relative;
    top: 34%;
  }
  .title {
    padding-bottom: 15px;
    margin-left: 25px;
    font-size: 30px;
    color: #f3f3f3e5;
    font-weight: bold;
    padding-top: 35px;
  }
  .subtitle {
    color:#f3f3f3e5;;
    font-weight: 400;
    margin: 5px 20px 0 25px;
    font-size: 25px;
    line-height: 26px;
    margin-block-end: 15px;
  }