
.talk-box-wrapper.custom{
    height: 85vh;
    width: 90%;
    margin-left: 5%;
}

.talk-box-wrapper.custom .talk-box-header{
    height: 10%;
}

.talk-box-wrapper.custom .talk-box-body{
    height: 80%;
}

.talk-box-wrapper.custom .talk-input-wrapper{
    height: 10%;
}

.talk-box-wrapper.custom .talk-input-wrapper .talk-input-raw{
    height: 100%;
}

.chat-container.false{
    display: none;
}

@media only screen and (min-width: 600px){
    .chat-container.false{
        display: grid;
    }
}