.chatContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.groupContainer{
    width: 25%;
    border: solid 2px;
}

.talkContainer{
    width: 25%;
    border: solid 2px;
}

.msgContainer{
    width: 50%;
    border: solid 2px;
}