.chatContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.groupContainer{
    width: 25%;
    border: solid 2px;
}

.talkContainer{
    width: 25%;
    border: solid 2px;
}

.msgContainer{
    width: 50%;
    border: solid 2px;
}

.chat-container.false{
    display: none;
}

@media only screen and (min-width: 600px){
    .chat-container.false{
        display: grid;
    }
}