.site-layout-background{
    padding: 24;
    margin: 0;
    min-Height: 610px;
    text-align: center;
}

span.content-wrapper{
    display: block;
    margin: 20px;
    margin-left: 10%;
    font-size: 2em;
}

.content-wrapper.breadscrum{
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 5px 0px 5px 0px;
}

/* pantalla de escritorio */
@media only screen and (min-width: 600px){
    .content-wrapper.breadscrum{
        padding-bottom: 10px;
    }
}