
/* mobile first */
.customizedForm{
    border: 1px solid #AFAFAF;
    border-radius: 20px;
    text-align: center;
    margin: 5% 5% 5% 5%;
    padding: 20px 20px 0px 20px;
}

#submit-customizedForm{
    margin: 15px;
}

.showmore{
    text-align: left;
    color: rgb(0, 132, 255);
    margin: 0px auto 15px auto;
    cursor: pointer;
}

.group2, .group3, .group4{
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
}

.group2 :first-child, .group3 :first-child, .group4 :first-child{
    text-align: left;
}
.group2 :nth-child(2), .group3 :nth-child(3), .group4 :nth-child(4){
    text-align: right;
}

.Checkbox{
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 90% 10%;
    margin: 0px 2px 15px 2px;
    padding: 8px;
}

.label{
    font-size: 18px;
    font-weight: bold;
}
.ant-slider-mark-text{
    transform: translateX(0%);
    left: -2%;
}

.Checkbox{
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 90% 10%;
    margin: 0px 2px 15px 2px;
    padding: 8px;
}

.label{
    font-size: 18px;
    font-weight: bold;
}

/* pantalla de escritorio */
@media only screen and (min-width: 600px){
    .customizedForm{
        margin: 5% 20% 10% 20%;
    }

    .group2{
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 5px;
        text-align: justify;
    }
    .group3{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        column-gap: 5px;
        text-align: justify;
    }
    .group4{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        column-gap: 5px;
        text-align: justify;
    }
    .group5{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        column-gap: 5px;
        text-align: justify;
    }
    
}