
.wrapper-filter{
    display: grid;
    // justify-content: center;

    .header{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: var(--grey);
        border: 1px solid #f5f5f5;
        padding: 10px 20px;

        span{
            font-size: 1.1em;
        }
    }

    .panel{
        width: 100%;
        background-color: var(--grey);
        border-top: none;
        border-right: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
        border-left: 1px solid #f5f5f5;
        padding: 10px 20px;

        

        .filter-content {
            height: auto;
            
            &.collapse-false{
                height: 0px;
                overflow: hidden;
            }
            
            .tags{
                padding-top: 10px;
            }

            .filter-item{
                display: grid;
                grid-template-columns: 60% 40%;
                align-items: center;
                padding-top: 10px;

                input{
                    border: 1px solid #ddd;
                }
            }

            button{
                width: 100%;
                padding-top: 5px;
                margin-top: 10px;
            }

            form .form .ant-row.ant-form-item {
                display: grid;
                grid-template-columns: 50% 50%;
                justify-content: flex-end;
                margin: 0;

                .ant-col.ant-form-item-label{
                    text-align: left;
                }
                .ant-form-item-control-input{
                    text-align: right;
                }
            }
        }


    }

    .filter__icon-button:hover {
        cursor: pointer;
    }
}

/* Desktop View */
@media only screen and (min-width: 600px){
    .wrapper-filter{
        display: grid;
        place-items: center;
        
        .panel{
            width: 100%;
        }
    }

}


