
.wrapper-filter{
    display: grid;
    place-items: center;
}

.wrapper-filter .panel{
    width: 100%;
    background-color: var(--grey);
    border: 1px solid #f5f5f5;
    padding: 20px;
}

.wrapper-filter .panel .header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.wrapper-filter .panel .header span{
    font-size: 1.1em;
}

.wrapper-filter .panel .filter-content .filter-item{
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 10px;
}

.wrapper-filter .panel .filter-content .filter-item input{
    border: 1px solid black;
}

.wrapper-filter .panel .filter-content button{
    width: 100%;
    padding-top: 5px;
    margin-top: 10px;
}


