
.group-list{
    display: grid; 
    grid-template-columns: auto;
    align-items: baseline;
    justify-items: center;
    width: 95%;
    height: 100%;
    &.false{
        display: none; 
    }

    .container{
        width: 90%;
        max-height: 79vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .detail{
        display: grid; 
        min-height: 10vh;
        width: 100%;
        margin: 0% 2% 0% 2%;
        padding: 2%;
        border-bottom: 1px solid var(--dark-grey);
        &.selected-true{
            color: var(--secondary-blue);
            background-color: #f6faff !important;

        }
        &:hover{
            background-color: var(--grey);
        }

        .header{
            display: grid;
            grid-template-columns: 90% 10%;
            align-items:center;
            justify-items: left;

            .name{
                font-size: 1.5em;
            }
            .anticon{
                visibility: hidden;
                &.true{
                    visibility: visible;
                    font-size: 1.5em;
                    color: #5e83ba;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px){
    .group-list.false{
        display: grid; 
    }
}