
.group-list.false{
    display: none; 
}
.group-list{
    display: grid; 
    grid-template-columns: auto;
    align-items: baseline;
    justify-items: center;
    width: 95%;
    height: 100%;
}
.group-list .container{
    width: 100%;
    max-height: 79vh;
    overflow-y: scroll;
}
.group-list .detail{
    display: grid; 
    min-height: 10vh;
    width: 100%;
    margin: 0% 2% 0% 2%;
    padding: 2%;
    border-bottom: 1px solid var(--dark-grey);
}
.group-list .detail .header{
    display: grid;
    grid-template-columns: 90% 10%;
    align-items:center;
    justify-items: left;
}

.group-list .detail .header .name{
    font-size: 1.5em;
}
.group-list .detail .header .anticon{
    visibility: hidden;
}
.group-list .detail .header .anticon.true{
    visibility: visible;
    font-size: 1.5em;
    color: #5e83ba;
}

@media only screen and (min-width: 600px){
    .group-list.false{
        display: grid; 
    }
}