
.groups-container{
    display: grid;
    place-items: center;
    grid-template-columns: auto;
}

/* .groups-container div{
    height: 85vh;
} */

@media only screen and (min-width: 600px){
    .groups-container{
        grid-template-columns: auto auto auto;
    }
}