.logo {
    width: 120px;
    height: 31px;
    float: left;
  }
  
  .site-layout-background {
    background: #fff;
  }

  .imglogo{
     
     height: 60px; 
     width: 70px;
     padding-bottom: 2px;
  }

  .drop{
    float:right;
  }
  .menu{
   color: ivory; 
   float:right;
   padding-right: 100px !important;
  }

