.Home__Image{
    width: 100%;
    background-color: black;
    height: auto;
    display: flex;
    
    /* align-items: center; */
     flex-direction: column; 
    opacity: 0.85;
    /* background-repeat:no-repeat;
    background-size: cover;
    position: relative; */
}

.iniciarSesionContext div{
    
    border: 2px solid  white;
}
.LogoContext{
    /* top: 40px;
    left: 50px;
    position: absolute;
    z-index: 1; */
    margin: 0 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Home__Image video{
    width: 100%;
}

video { 
    position: absolute;
    top: 50%;
    left: 50%;
    height: inherit;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 
  	transition: 1s opacity;
}


.LogoContext img{
  max-width: 150px;
}

 .Home__Text{
    z-index: 1;
    margin-top: 80px;
    display: grid;
    justify-items: center;
}
  
.Home__Titulo {
    color: white; 
    margin-bottom: 70px;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 45px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.Home__Image .Home__Button {
    box-shadow: 1px 1px 10px black;
    border-radius: 1px;
   background-color: #3a4e7a;
   width: 300px;
     border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.85;

}

.Home__Image a:hover {
    opacity: 0.95;
   
}

@media screen and (max-width: 1400px) {
    .Home__Image{
        height: auto;
    } 
    .Home__Image video{
        height: auto;
        width: 100%;
    }
  

}

@media screen and (max-width: 900px) {
    .Home__Image{
        justify-content: space-around;
        height:667px;
    }

    .LogoContext img{
        max-width: 100px;
      }

    .Home__Titulo {
    font-size: 30px;
    }

    .Home__Text {
        margin-top: -60px;
    }

    .iniciarSesionContext div{
        font-size: 12px;
    }
} 