@import "./App.css";
@import "./Profile.css";
@import "./property.css";
@import "./customizedForm.css";
@import "./Footer.css";
@import "./Header.css";
@import "./TopNav.css";
@import "./Carrousel.css";
@import "./GaleriaTresImagenes.css";
@import "./Portada.css";
@import "./Login.css";
@import "./UserPreferencies.css";
@import './Header.css';
@import '../assets/Icons/Icon/styles.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: rgb(230, 230, 230);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
