@import "../assets/Icons/Icon/styles.css";
@import "./App.css";
@import "./Profile.css";
@import "./property.css";
@import "./customizedForm.css";
@import "./ContentWrapper.css";
@import "./Footer.css";
@import "./Header.css";
@import "./TopNav.css";
@import "./Carrousel.css";
@import "./GaleriaTresImagenes.css";
@import "./Portada.css";
@import "./Login.scss";
@import "./Match.scss";
@import './Nav.scss';
@import './OptionsNav.css';
@import './PropertyList.scss';
@import './PropertyCard.css';
@import './PropertyDetail.css';
@import './ModalAsyncList.css';
@import './Groups.css';
@import './SideList.css';
@import './H-Scroll-List.css';
@import './GroupList.scss';
@import './GroupDetail.scss';
@import './Chat.css';
@import './WaitingSelection.css';
@import './Notifications.css';
@import './Votation.css';
@import './VotationState.scss';
@import './Filters.scss';
@import './Loading.scss';
@import './Spin.scss';
@import './Metrics.css';
@import './AdList.scss';
@import '../components//AdminMenuReports/style';
@import '../components/FilterNav/styles';
@import './AdImage.scss';

body {
  --principal-blue: #3a4e7a;
  --secondary-blue: #5e83ba;
  --tertiary-blue: #c2d2e9;
  --grey: #fafafa;
  --dark-grey: #d8d8d8;
  --letter: #000000a6;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.userHome img {
  width: 100vw;
}

.clickeable {
  position: relative;
  border: none;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.clickeable:after {
  position: absolute;
  content: "";
  background: var(--tertiary-blue);
  display: block;
  border-radius: 15px;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -10px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.clickeable:active:after {
  padding: 0;
  margin: 0;
  opacity: 0.3;
  transition: 0s;
}

@media only screen and (min-width: 600px) {
  .userHome {
    text-align: center;
  }
  .userHome img {
    max-width: 50vw;
  }
}
