.loading-wrapper {
  display: grid;
  grid-template-columns: auto;
  place-items: center;

  .logo.container {
    position: absolute;
    margin: auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }

  .logo.img {
    width: 70px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .loadAnimation svg {
    fill: none;
    stroke: #ffffff;
    stroke-width: 3px;
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: loading 3500ms ease-in-out infinite alternate;
  }

}

@keyframes loading {
  100% {
    stroke: #06285c;
    stroke-dasharray: 10;
    transform: rotate(360deg);
  }
}