
#login div:last-child{
    text-align: center;
}

#login :last-child button{
    margin-top: 25px;
}

#authErr{
    display: block;
    color: red;
    text-align: center;
    margin: 0px 0px 15px 0px ;
}

.loginModal .ant-modal-body{
    padding: 24px 24px 1px 24px;
}