/* Mobile First */
.match{
    text-align: -webkit-center !important;
    margin: 5vh 0vw 5vh 0vw;
    text-align: left;
}

.match .userCard{
    text-align: left;
    width: 90vw;
    margin-top: 16px;
}

.desc.coinc{
    color: #000;
}
.match .name{
    display: block;
    margin-bottom: 15px;
}
.match .name p{
    color: #515A5A;
    margin-bottom: 0px;
}

.match .name span{
    padding: 2px;
    text-align: center;
}

.notificationModal svg{
    color: var(--principal-blue);
}

.notificationModal .item{
    border: 1px solid white;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 5px;
    cursor: default;
    transition: border 0.4s;
}

.notificationModal .item:hover{
    border: 1px solid var(--dark-grey);
}

.notificationModal .item.selected{
    border: 1px solid var(--secondary-blue);
}

/* Desktop View */
@media only screen and (min-width: 600px){
    
    .match .userCard{
        width: 40vw;
        margin-left: 5vw;
    }

    .match .name{
        display: grid;
        grid-template-columns: 80% 20%;
    }


}