

/* Mobile First */
.match{
    margin-left: 5%;
}

.match .userCard{
    width: 90%;
    margin-top: 16px;
}

.desc.coinc{
    color: #000;
}
.match .name{
    margin-bottom: 15px;
}
.match .name p{
    color: #515A5A;
    margin-bottom: 0px;
}

/* Desktop View */
@media only screen and (min-width: 600px){
    .match{
        margin-left: 25%;
    }
    
    .match .userCard{
        width: 50%;
    }

}