
.share-property .group{
    padding: 15px 0px 5px 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    cursor: default;
    border: 1px solid white;
    transition: border 0.5s;
}

.share-property .group:hover{
    border: 1px solid var(--dark-grey);
}

.share-property .group.selected{
    border: 1px solid var(--secondary-blue);
}