/* Mobile First */
ul.principalNav {
    position: sticky;
    top:0px;
    z-index: 1;
	list-style-type: none;
	overflow: hidden;
	background-color: rgb(241, 241, 241);
    box-shadow: 1px 1px 5px #aaaaaa;
    padding-inline-start: 0px;

}

.principalNav li {
    float: left;
    min-width: 50px;
    
}

.principalNav li a {
	display: block;
    color: rgba(0, 0, 0, 0.6);
	text-align: center;
	margin: 1px 2px 0px 2px;
	font-size: 1.3em;
	padding: 14px 15px;
	text-decoration: none;
}

.principalNav li a:hover:not(.active) {
    /* box-shadow: 0.5px 0.5px 5px #d1d1d1; */
    color: rgba(0, 0, 0, 0.336);
}

.principalNav .active {
    box-shadow: 0.5px 0.5px 5px #d1d1d1;

   color: #5DADE2
}

/* Desktop View */
@media only screen and (min-width: 600px) {
ul.principalNav {
    padding-left: 20px;
    padding-right: 20px;
}

}