/* Mobile First */
ul.principalNav {
	list-style-type: none;
	overflow: hidden;
	background-color: var(--principal-blue);
	box-shadow: 1px 5px 10px #aaaaaa;
	padding-inline-start: 0px;
	li {
		float: left;
		min-width: 50px;
		&:hover{
			opacity: 0.8;
		}
		a {
			display: block;
			color: white;
			letter-spacing: 1px;
			text-align: center;
			margin: 1px 2px 0px 2px;
			font-size: 1.3em;
			padding: 14px 15px;
			text-decoration: none;
			span.userName{
				display: none;
			}
			&:hover:not(.active) {
				color: rgba(0, 0, 0, 0.336);
			}

			img.logo{
				width: 30px;
				height: 30px;
			}
		}
	}
	.active {
		box-shadow: 0.5px 0.5px 5px #d1d1d1;
		color: #5dade2;
	}
}

/* Desktop View */
@media only screen and (min-width: 600px) {
	ul.principalNav {
		padding-left: 20px;
		padding-right: 20px;
		li a {
			span {
				&.userName {
					display: inline;
					padding: 0px 20px 0px 10px;
					border-left: 1px solid;
				}
			}
		}
	}
}
