

/* Mobile First */
.notifications{
    text-align: -webkit-center !important;
    text-align: left;
}

.responseButton:hover svg{
    opacity: 100%;
}

.responseButton svg{
    opacity: 50%;
    width: 25px;
    height: 25px;
}

.notifications .notificationCard{
    text-align: left;
    width: 90vw;
    margin-top: 16px;
}

.desc.coinc{
    color: #000;
}
.notifications .name{
    display: block;
    margin-bottom: 15px;
}
.notifications .name p{
    color: #515A5A;
    margin-bottom: 0px;
}

.notifications .name span{
    padding: 2px;
    text-align: center;
}

.notifications .NotificationClose svg{
    opacity: 50%;
}

.notifications .NotificationClose:hover svg{
    opacity: 100%;
}

.notifications .NotificationClose{
    float: right;
}

/* Desktop View */
@media only screen and (min-width: 600px){
    
    .notifications .notificationCard{
        width: 40vw;
        margin-left: 5vw;
    }

    .match .name{
        display: grid;
        grid-template-columns: 80% 20%;
    }


}