/* .options-container{
	display: flex;
	flex-direction: column;
	width: 90vw;
	margin-left: 5vw;
	border-bottom: 1px solid var(--dark-grey);
	cursor: pointer;
}

.options-container .link-component{
	display: flex;
	align-items: center;
	font-size: 18px;
	justify-content: center;
	min-height: 45px;
	width: 100%;
	margin-bottom: 10px;
}

.itemMenuTitle {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-weight: 600 !important;
	letter-spacing: 0.6px;
	width: 100%;
	text-align: center;
	color: var(--principal-blue);
}

.options-container .link-component:hover .itemMenuTitle{
	font-weight: 700 !important;
}

.options-container .link-component:hover{
	
	/* box-shadow: 2px 2px rgba(0, 0, 0, 0.2); */
	/* box-shadow: 2px 2px 5px #afafaf; */

/* }
.options-container .link-component.current{
	background: var(--principal-blue);
	color: #f5f5f5;
	box-shadow: 2px 2px 5px #FAFAFA;
}

.options-container .link-component.current .itemMenuTitle{
	color: white;
}

.options-container .link-component{
	background:  #dddddd;
} */

/* Desktop View  */
/* @media only screen and (min-width: 600px) {
	.options-container{
		display: grid;
		grid-template-columns: auto auto auto;
		margin-top: 2%;
		padding-bottom: 1%;
	}

	.options-container .link-component{
		width: 95%;
	}
} */ 

.options-container {
	border-bottom: 1px solid var(--dark-grey);
	width: 90vw;
	margin-left: 5vw;
	padding: 0 0 3% 0;

}

.link-component {
	position: relative;
	width: 80%;
	height: 90px;

	margin-top: 20px;
	margin-left: 10%;
	padding: 10px;

	border: 0.5px solid #dddddd;
	border-radius: 2px;
	color: rgba(0, 0, 0, 0.6);
	opacity: 1;

	box-shadow: 1px 1px 5px #afafaf;
	border: 1px solid #fafafa;
}

.link-component:hover {
	box-shadow: 2px 2px 10px #aaaaaa;
}

.link-component h3 {
	margin-top: 50px;
	color: whitesmoke;
	opacity: 1;
	font-size: 1.5em;
	text-shadow: 0 0 5px #000000;
}

.link-component.current {
	box-shadow: 2px 2px 10px var(--secondary-blue);
	height: 90px;
}

.link-component.search_roommate {
	background-image: url('../assets/images/search_roommate.jpg');
	background-size: 308px;
}

.link-component.search_property {
	background-image: url('../assets/images/search_apartment.jpg');
	background-size: 308px;
}

.link-component.publish_property {
	background-image: url('../assets/images/publish_property.jpg');
	background-size: 308px;
	background-position: center;
	background-repeat: no-repeat;
}

.itemMenuTitle{
	background-color: transparent;
	color: white;
	font-size: initial;
	position: absolute;
	z-index: 1;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
	font-size: 17px;
}

/* Transiciónes */
@media only screen and (min-width: 400px) and (max-width: 1000px) {
	.link-component {
		margin-top: 0px;
	}
	.link-component.search_roommate {
		background-image: url('../assets/images/search_roommate_md.jpg');
		background-size: 230px;
	}
}

/* Desktop View  */
@media only screen and (min-width: 600px) {
	.options-container {
		display: flex;
		cursor: pointer;
		justify-content: space-evenly;
		padding: 0 0 0 0;
	}

	.link-component {
		position: relative;
		width: 300px;
		height: 90px;
		margin: 2%;
	}
}
