.body1 {
	display: flex;
	flex-direction: row;
	margin: 40px 35px 0 35px;
	box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, .1);
}
.images {
	width: 50%;
	background-size: cover;
  background-repeat: no-repeat;
  }
  
.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 50%;
	background-color: #001529;
}
