.body1 {
	display: flex;
	flex-direction: row;
	margin: 40px 35px 0 35px;
	box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, .1);
}
.images2 {
	height: 250px;
	width: 250px;
	align-self: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 50%;
	background-color: rgb(230, 230, 230);
}
