.profileContent{
    text-align: center;
    border: 1px solid #AFAFAF;
    border-radius: 20px;
    text-align: center;
    margin: 1% 5% 0% 5%;
    padding: 20px;
    
}

.profileImage{
    width: 250px;
    border-radius: 100%;
    margin: 2%;
}

@media only screen and (min-width: 600px){
    .group2{
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 5px;
    }

    .profileImage{
        width: 250px;
        border-radius: 100%;
    }

    .datosContent{
        text-align: start;
        background-color: #F3F3F3 ;
    }

}