/* Mobile */
.contentPC{
    display: flex;
    column-gap: 5px;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
    }

.cabeceraPC{
    text-align: center;
}

.itemsPC{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.typologyPC{
    position:center;
    font-weight: bold
}

.filaPC {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.imgPC {
    width: 10px;
    height: 10px;
    margin-right: 17px;
}

.pricePC {
    padding:0 0 0 0;
    color: rgb(9, 93, 9);
    margin: 0 0 0 0;
    font-size: 15px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 50% 50%;
}
.icon{
    padding-right: 1%;

}

.titlePC{
    padding:0 0 0 0;
    color:var(--principal-blue );
    margin: 0 0 0 0;
    font-size: 15px;
    font-weight: bold;
    display: block;
    min-height: 50px;
    max-height: 50px;
}

.dividerPC{
    margin: 14px 0!important;
}

.button-place{
    display: grid;
    grid-template-columns: auto auto auto;
    place-content: center;
}
.button-place button{
    margin-left: 8px;
}

.contentPC .ant-card-body{
    height: 175px;
}


/* Desktop */
@media only screen and (min-width: 600px){
.contentPC{
    display: flex;
    column-gap: 5px;
    margin: 1% !important;
    flex-direction: row;
    text-align: center;
    height: 100%;
    }

    .cabeceraPC{
        text-align: center;
    }

   .itemsPC{
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .typologyPC{
        position:center;
        font-weight: bold
    }

    .filaPC {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }

    .imgPC {
        width: 10px;
        height: 10px;
        margin-right: 17px;
    }

    .icon{
        padding-right: 3%;
    }
}


