
.propertyDetail{
    display: grid;
    place-items: center;
}

.propertyDetail .section{
    width: 95vw;
    margin-bottom: 10px;
}

/* header */
.propertyDetail .section.header{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
}

/* map */
.propertyDetail .section.map{
    display: grid;
    justify-items: right;
    overflow: hidden;
    border: 1px solid var(--letter);
    height: 50px;
    transition: height 1s;
}

.propertyDetail .section.map:hover{
    height: 400px;
}

.propertyDetail .section.map span{
    margin-right: 40px;
}

/* price */
.propertyDetail .section.price{
    display: grid;
    align-items: center;
    justify-items: right;
    grid-template-columns: auto auto auto auto;
}

/* description */
.propertyDetail .section.description{
    display: grid;
    place-items: center;
    color: var(--letter);
}


/* fullAddress */
.propertyDetail .section.fullAddress{
    display: grid;
    text-align: left;
}
.propertyDetail .section.fullAddress div{
    margin-left: 10%;
}

/* attributes */
.propertyDetail .section.attributes .row{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-left: 10%;
    align-items: center;
    justify-items: left;
}



/* pantalla de escritorio */
@media only screen and (min-width: 600px){
    .propertyDetail{
        grid-template-columns: 50% 50%;
    }

    .propertyDetail .section{
        width: 45vw;
    }


    /* primera columna */
    .propertyDetail .section.carrousel{
        grid-column: 1;
        grid-row: 1 / span 5;
    }
    .propertyDetail .section.map{
        grid-column: 1;
        grid-row: 6 / span 3;
    }


    /* segunda columna */
    .propertyDetail .section.header{
        grid-column: 2;
        grid-row: 1;
    }
    .propertyDetail .section.description{
        grid-column: 2;
        grid-row: 2;
    }
    .propertyDetail .section.fullAddress{
        grid-column: 2;
        grid-row: 3;
    }
    .propertyDetail .section.price{
        grid-column: 2;
        grid-row: 4;
    }
    .propertyDetail .section.attributes{
        grid-column: 2;
        grid-row: 5 / span 2;
    }
   


}