 [data-theme="dark"] .site-layout .site-layout-background {
      background: #141414;
    }

.LO{
  padding-top: 2px;
  min-Height: 100vh;
}

    .Slide{
      padding-top: 20px;
    }

    .ant-layout-sider-trigger{
      position: relative;
    }