 [data-theme="dark"] .site-layout .site-layout-background {
      background: #141414;
      
    }

.LO{
  padding-top: 2px;

}

    .Slide{
      padding-top: 20px;
      min-height: 100%;
    }

    .ant-layout-sider-trigger{
      position: absolute;
      
    }
    