
/* TODO: Meter dentro de variable, para no impactar a TODO. */
.ant-menu {
    text-align: center !important;
    margin-bottom: -12px;
    font-size: 20px;
    --antd-wave-shadow-color: rgb(0, 0, 51);
}