
.votation-wrapper.false{
    display: none; 
}

.votation-wrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.votation-wrapper .ongoing{
    border: 1px solid lightgrey;
    display: grid;

}

.votation-wrapper .ongoing .votation, .votation-wrapper .ongoing .results, .votation-wrapper .ongoing .state{
    margin: 20px;
}

.votation-wrapper .history{
    margin-top: 10px;
    height: 150px;
    overflow-y: scroll;
    border: 1px solid lightgrey;
}


@media only screen and (min-width: 600px){
    .votation-wrapper.false{
        display: grid; 
    }
}