
.votation-wrapper.false{
    display: none; 
}

.votation-wrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.votation-wrapper .ongoing{
    padding: 2% 2% 0 2%;
    box-shadow: 2px 2px 5px var(--dark-grey);
    border: 1px solid lightgrey;
    display: grid;

}

.votation-wrapper .ongoing .votation, .votation-wrapper .ongoing .results, .votation-wrapper .ongoing .state{
    margin: 20px;
}

.votation-wrapper .history{
    padding: 2% 5%;
    margin-top: 10px;
    height: auto;
    max-height: 45vh;
    overflow-y: scroll;
    border: 1px solid lightgrey;
}


@media only screen and (min-width: 600px){
    .votation-wrapper.false{
        display: grid; 
    }
}