.waiting-selection {
  display: grid;
  place-items: center;
  width: 90%;
  height: 100%;
  text-align: center;
}
.waiting-selection .container {
  display: grid;
  place-items: center;
}

.waiting-selection .container span[aria-label="send"] {
  transform: rotate(-30deg);
}

.waiting-selection .container {
  font-size: 1em;
}

.waiting-selection.false {
  display: none;
}

@media only screen and (min-width: 600px) {
  .waiting-selection.false {
    display: grid;
  }

  .waiting-selection .container{
  font-size: 2em;
  }
}
