
.page.reports-admin{
  display: flex;
  flex-direction: row;
  width: 80%;
  min-height: 80vh;
  margin: auto;
}

.menu-admin-reports{
  width: 30%;
  border: 1px solid #dedede;
  min-height: 80vh;
}

.page.reports-admin{
  .charts{
    width: 100%;
    border: 1px solid #dedede;
    min-height: 80vh;
    padding-bottom: 40px;
  }
  .spin{
    height: 80vh;
  }
}