.Block1 {
    display: flex;
    flex-direction: row;
    min-height: 400px;
    margin-top: 40px;
}
    .images {
        width: 50%;
        background-size: cover;
      background-repeat: no-repeat;
      }

      .content2 {
        display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 30px;
      text-align: center;
      width: 100%;
      background-color: rgb(230, 230, 230);
      }
   
      .title {
        padding-bottom: 15px;
        margin-left: 25px;
        font-size: 30px;
        color: #707070;
        font-weight: bold;
        padding-top: 35px;
      }
      .subtitle {
        color: #707070;
        font-weight: 400;
        margin: 5px 20px 0 25px;
        font-size: 25px;
        line-height: 26px;
        margin-block-end: 15px;
      }