.footer{
    background-color: #1b1b1b;
    margin: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--dark-grey);
}
.footer{
    color: #f5f5f5 !important;

    &__contact-us{
        display: flex;
        flex-direction: column;
    }

    &__media{
        display: flex;
        flex-direction: column;
    }

    a {
        color: #f5f5f5 !important;
        &:hover{
            text-decoration: underline;
        }
    }

    .title {
        margin: 5px;
        cursor: default;
        font-size: 1.2em;
        text-decoration: underline;
    }

}

@media only screen and (min-width: 600px){
    .footer{
        flex-direction: row;
        align-items: flex-start;

        &__about{
            width: 30%;
        }
    
        &__contact-us{
            width: 30%;
        }
    
        &__media{
            width: 30%;
        }
    }
}
